<h6>{{ 'home.greeting.hi'|trans }}</h6>

<p>
    {{ 'home.email.visit'|trans }}
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ 'home.email.here'|trans }}</a>
    <br>
    {{ 'home.email.link_expire'|trans }}..
</p>

<p>
    {{ 'home.greeting.cheers'|trans }} !
</p>