<footer data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12 col-md-offset-3">
                <div class="footer-thumb footer-info">
                    <h2>Rimoi</h2>
                    <p>Développeur des sites web.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="footer-thumb">
                    <h2></h2>
                    <ul class="footer-link">
                        <li {% if 'about' starts with app.request.attributes.get('_route') %} class="active" {% endif %}><a href="{{ path('about') }}" class="smoothScroll">{{ 'home.nav.about'|trans }}</a></li>
                        <li {% if 'blog_index' starts with app.request.attributes.get('_route') %} class="active" {% endif %}><a href="{{ path('blog_index') }}" class="smoothScroll">{{ 'home.nav.blog'|trans }}</a></li>
                        <li {% if 'who_are_we' starts with app.request.attributes.get('_route') %} class="active" {% endif %}><a href="{{ path('who_are_we') }}" class="smoothScroll">{{ 'home.nav.us-work'|trans }}</a></li>
                        <li {% if 'contact' starts with app.request.attributes.get('_route') %} class="active" {% endif %}><a href="{{ path('contact') }}" class="smoothScroll">{{ 'home.nav.contact'|trans }}</a></li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="footer-bottom text-center">
                    <div>
                        <div class="copyright-text">
                            <p>Copyright &copy; {{ 'now'|date('Y') }} Rimoi</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-7">
                        <div class="phone-contact">
                            <p></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>